* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  background: #0b1c2d; /* azul escuro premium */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.links-container {
  width: 100%;
  max-width: 420px;
  padding: 30px 20px;
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 15px;
}

h1 {
  font-size: 28px;
  letter-spacing: 2px;
}

.slogan {
  font-size: 14px;
  color: #cfd8e3;
  margin-bottom: 30px;
}

.link-btn {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  background: linear-gradient(145deg, #E1C16E, #D4AF37);
  color: #000;
  text-decoration: none;
  font-weight: 700;
  border-radius: 10px;
  transition: 0.3s;
}

.link-btn:hover {
  transform: scale(1.04);
  background: linear-gradient(145deg, #FFD700, #FFC300);
}

footer {
  margin-top: 25px;
  font-size: 12px;
  color: #9fb0c5;
}
